body{
  font-size: 30px;
}

li{
  padding: 5px;
}
li:hover{
  background: yellow;
}

h1{
  text-align: right;
}

h2,h4{
  text-align: center;
}


p{
  background:bisque;
}

a:hover{
  color: red;
  background-color: yellow;
}

img {
  max-width: 100%; /* Ensures the image never exceeds its parent's width */
  height: auto;    /* Maintains the aspect ratio, preventing distortion */
  display: block;  /* Optional: removes extra space below the image */
}
